.about {}

.featureBox {
    background: white;
    padding-top: 60px;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        width: 100%;
        height: 100px;
        background: white;
        transform: skewY(-7deg);
        position: absolute;
        bottom: -49px;
        left: 0;
        z-index: -1;
    }
}

.feature {
    @extend %noto-s;
    margin: 20px auto;
    .zero {
        margin-bottom: -5px;
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
        @media screen and (max-width:413px) {
            margin-bottom: 5px;
        }
    }
    li {
        background: url(../asset/svg/cir-b.svg) no-repeat center;
        width: 205px;
        height: 205px;
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0 10px;
        @media screen and (max-width: 767px) {
            width: 110px;
            height: 110px;
            margin: 0 3px;
        }
        @media screen and (max-width: 374px) {
            width: 100px;
            height: 100px;
            margin: 0 1px;
        }
    }
    .inner {
        @extend %pos-mid;
        width: 100%;
        line-height: 1.5;
        @media screen and (max-width: 767px) {
            line-height: 14px;
        }
        @media screen and (max-width: 413px) {
            line-height: 17px;
        }
        @media screen and (max-width: 374px) {
            line-height: 13px;
        }
        .detail {
            @media screen and (max-width: 767px) {
                font-size: 3vw;
            }
            @media screen and (max-width: 413px) {
                font-size: 3.5vw;
            }
        }
    }
}

.heBox {
    width: 100%;
    background: url(../img/he-bg.png) repeat, #d0eef3;
    background-size: 23%;
    padding-top: 100px;
    overflow: hidden;
    .sub {
        margin-top: 20px;
    }
    .he-bg {
        width: 100%;
        margin-top: 10px;
    }
}