.game {
    background: url(../img/bg-wood.jpg) no-repeat top left / cover;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        height: calc(100vh - 57px);
    }
    @media screen and (max-width: 374px) {
        height: auto;
    }
}

// step1
.step1 {
    .main {
        width: 85%;
        height: 555px;
        background: url(../img/paper-l.png) no-repeat top right / 100% 100%;
        margin: auto;
        @media screen and (max-width: 767px) {
            height: 355px;
            width: 90%;
            background: url(../img/paper.png) no-repeat top right / 100% 100%;
            margin: 0;
        }
        @media screen and (max-width: 413px) {
            height: 315px;
        }
        @media screen and (max-width: 374px) {
            margin-top: 10px;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            margin-top: 5px;
            height: 335px;
        }
    }
}

.game-tt {
    font-size: 3rem;
    padding-top: 25px;
    @media screen and (max-width: 767px) {
        font-size: 6.5vw;
        padding-top: 30px;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 413px) {
        font-size: 5.5vw;
        padding-top: 25px;
        margin-bottom: 10px;
    }
    @media screen and (max-width: 374px) {
        padding-top: 20px;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        padding-top: 40px;
    }
    >span {
        display: block;
        &:first-child {
            font-weight: 400;
            padding-right: 21%;
            @media screen and (max-width: 767px) {
                padding-right: 26%;
            }
        }
    }
    span:not(:nth-child(3)) {
        @extend %noto-s;
    }
    .underline {
        font-size: 6rem;
        margin-top: -18px;
        &:after {
            bottom: 18px;
            @media screen and (max-width: 767px) {
                bottom: 8px;
            }
        }
        @media screen and (max-width: 767px) {
            font-size: 9.5vw;
            margin-top: -15px;
        }
        @media screen and (max-width: 413px) {
            font-size: 9vw;
            margin-top: -10px;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            font-size: 10vw;
            margin-top: -5px;
        }
    }
    .sub {
        font-size: 1.8rem;
        @extend %fw_b;
        margin-top: -5px;
        @media screen and (max-width: 767px) {
            font-size: 3.5vw;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            margin-top: 0;
        }
    }
}

.tree {
    top: 0;
    right: 0;
    width: 290px;
    @media screen and (max-width: 767px) {
        width: 150px;
    }
    @media screen and (max-width: 374px) {
        width: 125px;
    }
}

.stickerBox {
    padding-top: 12%;
    @media screen and (max-width: 767px) {
        padding-top: 14%;
    }
    @media screen and (max-width: 413px) {
        padding-top: 11%;
    }
    @media screen and (max-width:374px) {
        padding-top: 15%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        padding-top: 13%;
    }
    ul {
        @media screen and (min-width: 768px) {
            width: 88%;
            margin: auto;
        }
        @media screen and (max-width: 767px) {
            padding-right: 4%;
            width: 90%;
            margin: auto;
        }
    }
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 1.8rem;
        flex-shrink: 0;
        width: 26%;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            font-size: 3.5vw;
            width: 30%;
            margin-bottom: 12px;
        }
        @media screen and (max-width: 413px) {
            margin-bottom: 10px;
        }
        .img {
            display: inline-block;
            margin: auto;
        }
        a {
            color: rgba(54, 54, 54, 0.66);
            opacity: 0.6;
            width: 100%;
        }
        .active {
            opacity: 1;
            color: rgba(54, 54, 54, 1);
            transform: scale(1.02);
            @extend %fw_b;
        }
        .txt {
            display: block;
            margin-top: -5px;
            line-height: 25px;
            @media screen and (max-width: 767px) {
                line-height: 22px;
            }
            @media screen and (max-width: 374px) {
                line-height: 18px;
            }
            @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
                line-height: 20px;
            }
        }
    }
}

.option1 {
    .img {
        width: 100px;
        @media screen and (max-width: 767px) {
            width: 65px;
        }
        @media screen and (max-width: 374px) {
            width: 60px;
        }
    }
}

.option2 {
    .img {
        width: 100px;
        @media screen and (max-width: 767px) {
            width: 60px;
        }
        @media screen and (max-width: 374px) {
            width: 55px;
        }
    }
}

.option3 {
    .img {
        width: 100px;
        @media screen and (max-width: 767px) {
            width: 60px;
        }
        @media screen and (max-width: 374px) {
            width: 60px;
        }
    }
}

.option4 {
    .img {
        width: 110px;
        @media screen and (max-width: 767px) {
            width: 65px;
        }
        @media screen and (max-width: 374px) {
            width: 60px;
        }
    }
}

.option5 {
    .img {
        width: 100px;
        @media screen and (max-width: 767px) {
            width: 60px;
        }
        @media screen and (max-width: 374px) {
            width: 60px;
        }
    }
}

.option6 {
    .img {
        width: 100px;
        @media screen and (max-width: 767px) {
            width: 65px;
        }
        @media screen and (max-width: 374px) {
            width: 60px;
        }
    }
}

.game-sub {
    font-size: 2rem;
    @extend %fw_m;
    margin-top: 0;
    line-height: 29px;
    @media screen and (max-width: 767px) {
        font-size: 3.8vw;
        line-height: 25px;
        margin-top: -24px;
        padding-left: 9%;
        text-align: left;
    }
    @media screen and (max-width: 413px) {
        margin-top: -27px;
        line-height: 22px;
    }
    @media screen and (max-width: 374px) {
        margin-top: -16px;
        line-height: 18px;
        font-size: 4vw;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin-top: -18px;
    }
    span {
        @include underline( #d6edf9, 18px, 4px, 9px, 2px);
    }
}

.btn {
    @extend %btn;
    margin: 30px auto;
    @media screen and (max-width: 413px) {
        margin: 20px auto;
    }
}

// step2
.step2 {
    height: 100%;
    .main {
        width: 100%;
        height: 690px;
        background: url(../img/paper2.png) no-repeat center bottom / 100% 130%;
        padding-top: 40px;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 767px) {
            padding-top: 50px;
            height: 480px;
        }
        @media screen and (max-width:413px) {
            padding-top: 30px;
            height: 425px;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            // height: 455px;
            // padding-top: 30px;
        }
        @media screen and (max-width:374px) {
            padding-top: 30px;
            height: 340px;
        }
    }
    .leaves {
        width: 62%;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 16%;
        pointer-events: none;
        @media screen and (max-width: 767px) {
            width: 70%;
            right: 10%;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            width: 79%;
        }
    }
}

.result-tt {
    padding-bottom: 50px;
    font-size: 4rem;
    @extend %noto-s;
    letter-spacing: 2px;
    @media screen and (max-width: 767px) {
        font-size: 7vw;
        padding-bottom: 15px;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        padding-bottom: 25px;
    }
    span {
        display: block;
        span {
            display: inline-block;
        }
    }
}

.topic {
    background: url(../asset/svg/ten.svg) no-repeat center / contain;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: auto;
    color: white;
    @extend %noto-s;
    font-size: 7rem;
    font-weight: 400;
    @media screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 10vw;
    }
    @media screen and (max-width: 374px) {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

.resultBox {
    .detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62%;
        margin: 25px auto 0;
        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 20px auto 0;
        }
        @media screen and (max-width: 374px) {
            margin: 10px auto 0;
        }
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            margin: 30px auto 0;
        }
    }
    .result1 {
        width: 85px;
        @media screen and (max-width: 767px) {
            width: 50px;
        }
        @media screen and (max-width:374px) {
            width: 40px;
            margin-right: 5px;
        }
    }
    .result2 {
        width: 133px;
        @media screen and (max-width: 767px) {
            width: 85px;
        }
        @media screen and (max-width:374px) {
            width: 73px;
        }
    }
    .result3 {
        width: 165px;
        @media screen and (max-width: 767px) {
            width: 115px;
        }
        @media screen and (max-width: 374px) {
            width: 95px;
        }
    }
    .result4 {
        width: 170px;
        @media screen and (max-width: 767px) {
            width: 115px;
        }
    }
    .result5 {
        width: 85px;
        @media screen and (max-width: 767px) {
            width: 50px;
        }
    }
    .result6 {
        width: 135px;
        @media screen and (max-width: 767px) {
            width: 100px;
        }
        @media screen and (max-width: 374px) {
            width: 80px;
        }
    }
    .txt {
        text-align: left;
        font-size: 2rem;
        margin-left: 30px;
        @media screen and (max-width: 767px) {
            margin-left: 15px;
            font-size: 4vw;
        }
        span {
            @extend %fw_b;
        }
    }
}

.btn-again {
    background: url(../img/btn-again-bg.png) no-repeat center / cover;
    width: 120px;
    height: 120px;
    color: #6b6b6b;
    font-size: 1.6rem;
    @extend %fw_b;
    position: absolute;
    right: 10%;
    bottom: -2%;
    @media screen and (max-width: 767px) {
        transform: scale(0.8);
        right: 2%;
        bottom: -7%;
    }
    @media screen and (max-width: 413px) {
        bottom: -10%;
        transform: scale(0.7);
    }
    @media screen and (max-width: 374px) {
        transform: scale(0.6);
        right: -3%;
        bottom: -15%;
    }
    span {
        display: block;
    }
    .icon {
        width: 30px;
        margin: 0 auto 10px;
    }
    .inner {
        @extend %all-100;
    }
    .content {
        @extend %pos-mid;
        left: 44%;
    }
}

.btnBox {
    margin: 20px auto;
    @media screen and (max-width: 767px) {
        width: 90%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin: 25px auto 0;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
    .btn {
        width: 300px;
        @media screen and (max-width: 767px) {
            width: 49%;
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.fb {
    background: $fb;
    margin-right: 20px;
    @media screen and (max-width: 767px) {
        margin-right: 2%;
    }
    .icon {
        width: 12px;
        margin-right: 10px;
        @media screen and (max-width: 767px) {
            width: 10px;
            margin-right: 5px;
        }
    }
}

.go {
    position: relative;
    padding-left: 50px;
    @media screen and (max-width: 767px) {
        padding-left: 25px;
    }
    .product {
        width: 55px;
        position: absolute;
        bottom: 5px;
        left: 58px;
        @media screen and (max-width: 767px) {
            width: 35px;
            left: 16px;
        }
    }
}