h1 {
    @extend %noto-s;
    font-size: 6rem;
    margin-top: 30px;
    @media screen and (max-width: 767px) {
        font-size: 9vw;
    }
    @media screen and (max-width: 374px) {
        margin-top: 25px;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin-top: 50px;
    }
    .main {
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    span {
        @extend %fw_m;
    }
}

.font-s {
    font-size: 3rem;
    display: block;
    margin-bottom: -20px;
    @media screen and (max-width: 767px) {
        font-size: 5.5vw;
        margin-bottom: -8px;
    }
    @media screen and (max-width: 374px) {
        margin-bottom: -10px;
    }
}

.kv {
    padding-top: 95px;
    overflow: hidden;
    background: rgba(218, 239, 252, 1);
    background: -moz-linear-gradient(top, rgba(218, 239, 252, 1) 0%, rgba(204, 234, 250, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(218, 239, 252, 1)), color-stop(100%, rgba(204, 234, 250, 1)));
    background: -webkit-linear-gradient(top, rgba(218, 239, 252, 1) 0%, rgba(204, 234, 250, 1) 100%);
    background: -o-linear-gradient(top, rgba(218, 239, 252, 1) 0%, rgba(204, 234, 250, 1) 100%);
    background: -ms-linear-gradient(top, rgba(218, 239, 252, 1) 0%, rgba(204, 234, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(218, 239, 252, 1) 0%, rgba(204, 234, 250, 1) 100%);
    @media screen and (max-width: 767px) {
        padding-top: 60px;
    }
    @media screen and (max-width: 374px) {
        padding-top: 40px;
    }
    .mainBox {
        position: relative;
    }
    .f-logo {
        width: 190px;
        height: 69px;
        margin-right: 15px;
        padding-top: 4px;
        @media screen and (max-width: 767px) {
            width: 30%;
            height: auto;
            margin-right: 10px;
            padding-top: 6px;
        }
    }
}

.kv-product {
    width: 280px;
    margin: 5px auto 100px;
    padding-left: 35px;
    box-sizing: content-box;
    @media screen and (max-width: 767px) {
        width: 40%;
        padding-left: 26px;
        margin-top: 6%;
    }
}

.bubbleBox {
    @extend %all-100;
}

.bb1,
.bb2,
.bb3 {
    @extend %flex-mid;
    @extend %noto-s;
    color: #177584;
    font-size: 1.8rem;
    text-align: center;
    background: url(../img/bubble.png) no-repeat;
    background-size: 100%;
    @media screen and (max-width: 767px) {
        font-size: 3vw;
    }
    @media screen and (max-width: 374px) {
        transform: scale(0.8);
    }
    .txt {
        line-height: 23px;
        padding-top: 8px;
        @media screen and (max-width: 767px) {
            line-height: 14px;
            padding-top: 2px;
        }
    }
}

.bb1 {
    width: 144px;
    height: 146px;
    left: 9%;
    top: 5%;
    @media screen and (max-width: 767px) {
        width: 80px;
        height: 82px;
    }
    @media screen and (max-width: 374px) {
        left: 5%;
        top: 0%;
    }
}

.bb2 {
    width: 156px;
    height: 160px;
    right: 7%;
    top: 34%;
    @media screen and (max-width: 767px) {
        width: 92px;
        height: 94px;
    }
    @media screen and (max-width: 413px) {
        right: 5%;
        top: 32%;
    }
    @media screen and (max-width: 374px) {
        right: 2%;
        top: 31%;
    }
}

.bb3 {
    width: 120px;
    height: 124px;
    left: 4%;
    top: 40%;
    @media screen and (max-width: 767px) {
        width: 67px;
        height: 69px;
        top: 44%;
    }
    @media screen and (max-width: 374px) {
        top: 38%;
    }
}

.he1,
.he2,
.he3,
.he4,
.he5,
.he6 {
    @media screen and (max-width: 767px) {
        transform: scale(0.6);
    }
    @media screen and (max-width: 374px) {
        transform: scale(0.5);
    }
}

.he1 {
    width: 60px;
    height: 62px;
    left: 25%;
    top: 28%;
    @media screen and (max-width: 767px) {
        left: 20%;
    }
    @media screen and (max-width: 374px) {
        top: 22%;
    }
}

.he2 {
    width: 105px;
    height: 105px;
    left: 28%;
    top: 63%;
    @media screen and (max-width: 767px) {
        left: 22%;
        top: 53%;
    }
    @media screen and (max-width: 413px) {
        left: 21%;
    }
    @media screen and (max-width:374px) {
        left: 19%;
        top: 50%;
    }
}

.he3 {
    width: 68px;
    height: 70px;
    right: 14%;
    top: -3%;
    @media screen and (max-width: 767px) {
        right: 4%;
    }
}

.he4 {
    width: 106px;
    height: 106px;
    right: 22%;
    top: 17%;
    @media screen and (max-width: 767px) {
        right: 13%;
        top: 9%;
    }
    @media screen and (max-width: 413px) {
        top: 6%;
    }
    @media screen and (max-width: 374px) {
        right: 12%;
        top: 5%;
    }
}

.he5 {
    width: 54px;
    height: 56px;
    right: 35%;
    top: 46%;
    @media screen and (max-width: 767px) {
        right: 30%;
        top: 49%;
    }
    @media screen and (max-width: 413px) {
        right: 29%;
    }
    @media screen and (max-width: 374px) {
        right: 28%;
        top: 47%;
    }
}

.he6 {
    width: 61px;
    height: 63px;
    right: 18%;
    top: 65%;
    @media screen and (max-width: 767px) {
        right: 9%;
        top: 64%;
    }
    @media screen and (max-width: 374px) {
        right: 9%;
        top: 61%;
    }
}

.zero {
    display: block;
    font-size: 4.6rem;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
        font-size: 5vw;
        margin-bottom: 5px;
    }
}

.pattern {
    width: 110%;
    left: -25%;
    bottom: -10%;
    z-index: -2;
}

.waterdrop {
    @extend %all-100;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/waterdrop.png) no-repeat center / cover;
}

.blur {
    width: 120%;
    top: -5%;
    right: -20%;
    z-index: -3;
}

.btnBox-kv {
    left: 3%;
    bottom: 3%;
    z-index: 3;
}

.btn-game {
    @include cir(165px);
    color: white;
    font-size: 2.3rem;
    @extend %fw_b;
    text-align: center;
    position: fixed;
    bottom: 2%;
    cursor: pointer;
    &:after {
        content: "";
        @include cir(93%);
        border: 1px solid white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media screen and (max-width: 767px) {
        width: 90px;
        height: 90px;
        font-size: 3.5vw;
        bottom: 3%;
    }
    @media screen and (max-width: 374px) {
        transform: scale(0.9);
        left: 3%;
    }
    span {
        display: block;
        margin: auto;
    }
    .pro {
        width: 85px;
        margin-top: -20px;
        @media screen and (max-width: 767px) {
            width: 48px;
        }
    }
}

span.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: white transparent transparent transparent;
    margin-top: 5px;
    animation: triangle 1s ease infinite;
    @media screen and (max-width: 767px) {
        border-width: 8px 5px 0 5px;
        margin-top: 3px;
    }
}

.scroll {
    font-size: 2rem;
    @extend %noto-s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 767px) {
        font-size: 1.5rem;
    }
    span {
        width: 1px;
        height: 60px;
        display: block;
        background: $blue;
        margin: auto;
        @media screen and (max-width: 767px) {
            height: 30px;
        }
    }
}