// all mixins.
%btn {
    width: 350px;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    color: white;
    background: $blue;
    border-radius: 10px;
    margin: 20px auto;
    @extend %fw_b;
    @media screen and (max-width: 767px) {
        width: 90%;
        height: 50px;
        line-height: 50px;
        font-size: 4vw;
        border-radius: 5px;
        margin: 10px auto;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin: 20px auto;
    }
    .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #ffffff;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        margin-bottom: 2px;
        @media screen and (max-width: 767px) {
            margin-left: 5px;
            border-width: 4.5px 0 4.5px 8px;
        }
    }
}

@mixin underline($color, $h, $btm, $h-m, $btm-m) {
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    &:after {
        content: "";
        width: 100%;
        height: $h;
        position: absolute;
        left: 0;
        bottom: $btm;
        background: $color;
        z-index: -1;
        @media screen and (max-width: 767px) {
            height: $h-m;
            bottom: $btm-m;
        }
    }
}

%noto-s {
    font-weight: bold;
    font-family: 'Noto Serif,PT Serif', 'source-han-serif-tc', Songti TC, serif;
}

%all-100 {
    width: 100%;
    height: 100%;
}

%txt_justify {
    text-align: justify;
    text-justify: inter-ideographic;
}

%center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

%pos-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// flex box mid
@mixin flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

// flex equal-height box
@mixin flex-h {
    display: flex;
    align-items: stretch;
}

// flex row
@mixin flex-row {
    display: flex;
    flex-direction: row-reverse;
}

// img size
@mixin img_size($image) {
    width: image-width("../img/#{$image}");
    height: image-height("../img/#{$image}");
    background: url("../img/#{$image}") no-repeat;
}

$box_w: 100%;
$box_h: auto;
@mixin box-size($box_w,
$box_h) {
    width: $box_w;
    height: $box_h;
}

// imgscalable
@mixin img-scalable {
    >img {
        @include box(100%,
        auto);
        display: block;
    }
}

// circle
@mixin cir($unit) {
    width: $unit;
    height: $unit;
    border-radius: 100%;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin pos-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// full-screen
@mixin full-screen {
    width: 100%;
    min-height: 100%;
}

// clearboth
@mixin clear {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// vertical align
@mixin v-align($h) {
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: $h;
    }
}