section {
    position: relative;
    z-index: 1;
}

.poabs {
    position: absolute;
}

.blue {
    color: $blue;
}

.bg-blue {
    background: $blue;
}

.underline {
    display: inline-block;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        left: -1%;
        bottom: 10px;
        height: 15px;
        width: 102%;
        background: $pink;
        z-index: -1;
        transition: width .3s ease;
        @media screen and (max-width: 767px) {
            height: 13px;
            bottom: 7px;
        }
    }
    &.enter {
        &:after {
            width: 0;
        }
    }
}

.dot {
    position: relative;
    &:before {
        content: "";
        @include cir(8px);
        background: $pink;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 767px) {
            width: 5px;
            height: 5px;
            top: -1px;
        }
    }
}

h2 {
    font-size: 4rem;
    @extend %noto-s;
    letter-spacing: 2px;
    @media screen and (max-width: 767px) {
        font-size: 7vw;
    }
    span {
        display: block;
        span {
            display: inline-block;
        }
    }
}

h3 {
    font-size: 2.4rem;
    @extend %noto-s;
    letter-spacing: 1.5px;
    @media screen and (max-width: 767px) {
        font-size: 5.5vw;
    }
    @media screen and (max-width: 374px) {
        font-size: 6vw;
    }
}

.cross {
    font-family: 'Noto Sans TC';
}