extends ./include/layout
include ./include/mixin
block content
    .award-list 
        h2.blue 零添加主張<br>捨/得測驗 中獎名單
        .search
            label 中獎查詢
            .bar
                a.btn-search.poabs(href="#") 查詢
                span.icon.poabs
                    +svg('search')
                input(type="number",maxlength='3', placeholder='請輸入手機末三碼')
        .awardBox
            .award-tt 首獎
            .award.fir-award
                .img
                    .fir-prize
                        +png('gift1')
                .txt.fir-txt freeplus溫和淨潤皂霜 & freeplus溫和淨潤卸粧霜正貨乙組，共5名
            .list
                ul
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
        .awardBox
            .award-tt 普獎
            .award
                .img
                    .normal-prize
                        +png('gift2')
                .txt freeplus溫和淨潤皂霜7g (三日份) <br>試用包乙份，共1992名
            .list
                ul
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
                    li
                        span.name 李Ｘ燕
                        span.num 0929XXX409
        .cirBox
            .poabs.cir1.cir
                +svg('cir-w')
            .poabs.cir2.cir
                +svg('cir-w')
            .poabs.cir3.cir
                +svg('cir-w')
            .poabs.cir4.cir
                +svg('cir-w')
            .poabs.cir5.cir
                +svg('cir-w')
            .poabs.cir6.cir
                +svg('cir-w')
            .poabs.cir7.cir
                +svg('cir-w')
        .pattern.poabs
            +svg('pattern')
