.menuBox
  ul
    li
      a(href="＃") 回首頁
    li
      a(href="＃") 品牌介紹
    li
      a.active(href="＃") 捨/得測驗
    li
      a(href="＃") 產品介紹
    li
      a(href="＃") 立即選購
    li
      a(href="＃") 中獎名單
    li
      a(href="＃") 活動辦法
  a.menu-logo.poabs(href="index.html") 
    img(src="../asset/svg/logo.svg", alt="logo")
  .pattern.poabs
    +svg('pattern')







